<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    {% block style %}{% endblock style %}
    
</head>
<body>
    <header style="z-index: 1000; position: relative;">
        <nav style="background-color: #333; padding: 1em;">
            <a href="{{ url_for('home') }}" style="color: white; text-decoration: none; margin-right: 1em;">Home</a>
            <a href="{{ url_for('login') }}" style="color: white; text-decoration: none; margin-right: 1em;">Login</a>
            <a href="{{ url_for('register') }}" style="color: white; text-decoration: none;">Register</a>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>